#title {
  height: 420px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.title-text {
  width: 70%;
  text-align: center;
  line-height: 30px;
  color: white;
}

#beginning {
  background-image: url("../../assets/backgrounds/6.jpg");
  height: 420px;
  position: relative;
}

.beginning-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 100%;
  margin: auto;
  text-align: center;
  line-height: 30px;
}

#beginning .fade-white {
  height: 420px;
}

#third-section {
  background-color: #f2f2f2;
  height: 420px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.third-section-text {
  width: 50%;
  text-align: center;
  line-height: 30px;
}

.linea1 {
  width: 1px;
  height: 20%;
  background-color: black;
  position: absolute;
  bottom: 0;
  left: 50%;
  right: 50%;
}

#fourth-section {
  display: flex;
  height: 420px;
}

#fourth-section img {
  width: 40%;
  object-fit: cover;
}

.fourth-section-group-text {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}

.fourth-section-text {
  width: 80%;
  border-left: 1px solid black;
  padding-left: 20px;
}

#fifth-section {
  height: 420px;
  background-image: url("../../assets/backgrounds/7.jpg");
}

.fade-black {
  height: 420px;
  background: rgba(0, 0, 0, 0.5);
}

.fifth-section-group-text {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 420px;
  color: white;
  position: relative;
}

.fifth-section-text {
  width: 38%;
  border-left: 1px solid white;
  padding-left: 20px;
}

#sixth-section {
  height: 420px;
  display: flex;
}

#sixth-section img {
  object-fit: cover;
  width: 40%;
}

.sixth-section-group-text {
  width: 60%;
  height: 420px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}

.sixth-section-text {
  width: 80%;
  border-left: 1px solid black;
  padding-left: 20px;
}

#seventh-section {
  background-image: url("../../assets/backgrounds/1.jpg");
  position: relative;
}

.seventh-section-group-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 420px;
  margin-left: 6%;
}

.seventh-section-text {
  color: white;
  width: 70%;
  border-left: 1px solid white;
  padding-left: 20px;
}

#eightth-section {
  height: 420px;
  display: flex;
}

#eightth-section img {
  object-fit: cover;
  width: 40%;
}

.date {
  margin-block-end: 0px;
}

.eightth-section-group-text {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 420px;
}

.eightth-section-text {
  width: 80%;
  border-left: 1px solid black;
  padding-left: 20px;
}

#nineth-section {
  height: 420px;
  background-image: url("../../assets/backgrounds/8.jpg");
  position: relative;
}

.nineth-section-group-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 420px;
  margin-left: 6%;
}

.nineth-section-text {
  width: 70%;
  border-left: 1px solid white;
  padding-left: 20px;
}

.nineth-section-text {
  color: white;
}

@media screen and (max-width: 1000px) {
  #eightth-section,
  #sixth-section {
    height: 600px;
    flex-direction: column;
  }

  #fourth-section {
    height: 600px;
    flex-direction: column-reverse;
  }

  #eightth-section img,
  #sixth-section img,
  #fourth-section img {
    width: 100%;
    height: 300px;
  }

  .eightth-section-group-text,
  .sixth-section-group-text,
  .fourth-section-group-text {
    flex-direction: initial;
    width: 100%;
    height: 300px;
  }

  .eightth-section-text,
  .sixth-section-text,
  .fourth-section-text {
    width: 40%;
  }
}

@media screen and (max-width: 700px) {
  .title-text {
    width: 90%;
  }

  #eightth-section,
  #fourth-section,
  #sixth-section {
    height: 800px;
  }

  #beginning,
  #beginning .fade-white,
  #fifth-section,
  .fade-black {
    height: 600px;
  }

  .third-section-text {
    width: 90%;
  }

  .eightth-section-group-text,
  .fourth-section-group-text,
  .sixth-section-group-text {
    flex-direction: column;
    height: 500px;
  }

  .fifth-section-group-text,
  .seventh-section-group-text {
    flex-direction: column;
    height: 600px;
  }

  .eightth-section-text,
  .fourth-section-text,
  .sixth-section-text,
  .fifth-section-text {
    width: 90%;
  }
}

@media screen and (max-width: 400px) {
  #beginning,
  #beginning .fade-white,
  #fifth-section,
  .fade-black,
  .fifth-section-group-text,
  .sixth-section-group-text,
  .seventh-section-group-text {
    height: 800px;
  }

  #sixth-section,
  #eightth-section {
    height: 1000px;
  }
  .eightth-section-group-text {
    height: 700px;
  }

  #third-section {
    height: 500px;
  }
}
