@import url(//db.onlinewebfonts.com/c/ed147ffc0c22f110b20a665b27adfc1b?family=GT+Sectra+Display);
@import url(//db.onlinewebfonts.com/c/06fcebf2389f170c4e0f9e5286b1c5f6?family=Azo+Sans+Lt);

@font-face {
  font-family: "GT Sectra Display";
  src: url("//db.onlinewebfonts.com/t/ed147ffc0c22f110b20a665b27adfc1b.eot");
  src: url("//db.onlinewebfonts.com/t/ed147ffc0c22f110b20a665b27adfc1b.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/ed147ffc0c22f110b20a665b27adfc1b.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/ed147ffc0c22f110b20a665b27adfc1b.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/ed147ffc0c22f110b20a665b27adfc1b.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/ed147ffc0c22f110b20a665b27adfc1b.svg#GT Sectra Display")
      format("svg");
}
@font-face {
  font-family: "Azo Sans Lt";
  src: url("//db.onlinewebfonts.com/t/06fcebf2389f170c4e0f9e5286b1c5f6.eot");
  src: url("//db.onlinewebfonts.com/t/06fcebf2389f170c4e0f9e5286b1c5f6.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/06fcebf2389f170c4e0f9e5286b1c5f6.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/06fcebf2389f170c4e0f9e5286b1c5f6.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/06fcebf2389f170c4e0f9e5286b1c5f6.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/06fcebf2389f170c4e0f9e5286b1c5f6.svg#Azo Sans Lt")
      format("svg");
}

body {
  width: 100%;
  margin: 0 auto;
}

h2 {
  font-size: 42px;
  font-weight: 300;
  margin-block-start: 0em;
  margin-block-end: 0.83em;
  font-family: "GT Sectra Display";
}

p,
a {
  font-family: "Azo Sans Lt";
}

p {
  font-size: 16px;
}

a {
  font-size: 18px;
}

.parallax {
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

header {
  text-align: center;
  height: 380px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header img {
  width: 500px;
  margin: 0 auto 50px auto;
}

header nav ul {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding-inline-start: 0px;
}

header nav ul li,
.delivery {
  list-style-type: none;
  font-family: "Azo Sans Lt";
  text-transform: uppercase;
}

header nav ul li a,
.delivery a {
  color: black;
  text-decoration: none;
  font-size: 13px;
}

header nav ul li a:hover,
.delivery a:hover {
  padding: 5px 0px;
  border-bottom: 1px solid black;
}

.here {
  padding: 5px 0px;
  border-bottom: 1px solid black;
}

#presentation {
  width: 100%;
  height: 420px;
  text-align: center;
  background-image: url("../assets/backgrounds/7B2A7358ok-Giancarlo-Aponte-copia-1250x833.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
}

.presentation-text {
  width: 50%;
  color: #f6c5b7;
  line-height: 30px;
  font-size: 18px;
}

.presentation-text a {
  font-family: "GT Sectra Display";
  color: #f6c5b7;
  text-decoration: none;
  padding: 5px 0px;
  border-bottom: 1px solid #f6c5b7;
}

#menu-home {
  width: 100%;
  height: 420px;
  background-color: #bccfd0;
  display: flex;
  justify-content: space-around;
}

#menu-home h2 {
  text-transform: uppercase;
}

#menu-home img {
  width: 30%;
  object-fit: cover;
}

.menu-home-text {
  width: 30%;
  line-height: 30px;
  color: #604d45;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menu-home-text a {
  font-family: "GT Sectra Display";
  color: #604d45;
  text-decoration: none;
  padding: 5px 0px;
  border-bottom: 1px solid #604d45;
  width: 150px;
}

#fluid {
  width: 100%;
  height: 420px;
  display: flex;
}

.bar {
  background-color: black;
  width: 50%;
  background-position: left;
  color: white;
  display: flex;
  flex-direction: column;
  line-height: 30px;
  justify-content: center;
  align-items: center;
}

.bar a {
  font-family: "GT Sectra Display";
  color: white;
  text-decoration: none;
  padding: 5px 0px;
  border-bottom: 1px solid white;
}

.wines {
  background-color: white;
  width: 50%;
  background-position: left;
  color: black;
  display: flex;
  flex-direction: column;
  line-height: 30px;
  justify-content: center;
  align-items: center;
}

.bar p,
.wines p {
  width: 50%;
}

#our-team {
  background-image: url("../assets/backgrounds/7B2A8351ok-Giancarlo-Aponte-1250x833.jpg");
  height: 420px;
}

.fade-team {
  position: absolute;
  width: 100%;
  height: 420px;
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.our-team-text {
  width: 70%;
  line-height: 30px;
}

.our-team-text h2 {
  text-transform: uppercase;
}

.our-team-text p {
  width: 50%;
}

.our-team-text a {
  font-family: "GT Sectra Display";
  color: black;
  text-decoration: none;
  padding: 5px 0px;
  border-bottom: 1px solid black;
}

#book-home {
  background-image: url("../assets/backgrounds/ayg-reservas-1250x703.jpg");
  height: 420px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.book-home-text {
  width: 60%;
  line-height: 30px;
  color: white;
  text-align: center;
  padding-left: 60px;
  grid-column: 2;
}

footer {
  position: relative;
  background-color: #604d45;
  height: 350px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}

footer h2 {
  text-transform: uppercase;
}

footer a {
  color: white;
  font-size: 16px;
}

.copyright {
  position: absolute;
  bottom: 0;
  left: 0px;
  width: 100%;
  text-align: center;
  padding: 10px 0px;
  font-family: "Azo Sans Lt";
}

@media screen and (max-width: 900px) {
  .presentation-text {
    width: 70%;
  }

  #menu-home img {
    width: 40%;
  }
  .menu-home-text {
    width: 40%;
  }

  .bar p,
  .wines p {
    width: 80%;
  }

  .our-team-text p {
    width: 90%;
  }

  #book-home {
    grid-template-columns: 40% 60%;
  }

  .book-home-text {
    width: 60%;
  }

  footer {
    height: 455px;
    display: grid;
    grid-template-columns: repeat(12, 8%);
    grid-template-rows: auto auto;
  }

  .contact {
    width: max-content;
    grid-column-start: 2;
    grid-row-start: 1;
  }

  .on-place {
    grid-row-start: 1;
    grid-column-start: 8;
    width: max-content;
  }

  .take-away {
    grid-row-start: 2;
    grid-column-start: 8;
    width: max-content;
    align-self: start;
  }
}

@media screen and (max-width: 750px) {
  footer {
    display: flex;
    flex-direction: column;
    height: 600px;
    align-items: normal;
    justify-content: normal;
    padding: 20px;
  }

  .contact {
    margin-bottom: 1em;
  }

  .take-away {
    align-self: initial;
  }
}

@media screen and (max-width: 800px) {
  #presentation,
  #our-team,
  #book-home {
    background-attachment: initial;
  }

  .presentation-text {
    width: 90%;
  }
  #menu-home img {
    width: 30%;
  }
  .menu-home-text {
    width: 60%;
  }

  .bar p,
  .wines p {
    width: 90%;
  }
}

@media screen and (max-width: 600px) {
  h2 {
    font-size: 32px;
  }

  header img {
    width: 350px;
  }

  #menu-home {
    height: 650px;
    flex-direction: column-reverse;
  }

  #menu-home img {
    height: 300px;
    width: 100%;
  }

  .menu-home-text {
    text-align: center;
    width: 90%;
    margin: auto;
  }

  .menu-home-text a {
    margin: auto;
  }

  #fluid {
    display: block;
    height: 600px;
  }

  .bar,
  .wines {
    width: 100%;
    height: 300px;
  }

  .bar p,
  .wines p {
    text-align: center;
  }

  #our-team,
  .fade-team {
    height: 350px;
  }

  .our-team-text {
    width: 90%;
    text-align: center;
  }

  .our-team-text p {
    width: 100%;
  }

  #book-home {
    display: flex;
    height: 350px;
  }

  .book-home-text {
    padding: initial;
    width: 90%;
    margin: auto;
  }

  footer {
    height: 480px;
  }

  footer,
  footer p,
  footer a {
    font-size: 13px;
  }
}

@media screen and (max-width: 450px) {
  h2 {
    font-size: 28px;
  }

  header {
    height: 350px;
  }

  header img {
    width: 250px;
  }

  header nav ul {
    column-gap: 85px;
    flex-wrap: wrap;
  }

  .delivery {
    margin-top: 14px;
  }

  #presentation {
    height: 550px;
  }
}

@media screen and (max-width: 350px) {
  header nav ul {
    column-gap: 50px;
  }

  #menu-home {
    height: 800px;
  }

  #menu-home img {
    height: 350px;
  }

  #our-team,
  #book-home,
  .fade-team {
    height: 400px;
  }
}

@media screen and(max-width: 310px) {
  #presentation {
    height: 600px;
  }
}
