@import url(//db.onlinewebfonts.com/c/ed147ffc0c22f110b20a665b27adfc1b?family=GT+Sectra+Display);
@import url(//db.onlinewebfonts.com/c/06fcebf2389f170c4e0f9e5286b1c5f6?family=Azo+Sans+Lt);

@font-face {
  font-family: "GT Sectra Display";
  src: url("//db.onlinewebfonts.com/t/ed147ffc0c22f110b20a665b27adfc1b.eot");
  src: url("//db.onlinewebfonts.com/t/ed147ffc0c22f110b20a665b27adfc1b.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/ed147ffc0c22f110b20a665b27adfc1b.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/ed147ffc0c22f110b20a665b27adfc1b.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/ed147ffc0c22f110b20a665b27adfc1b.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/ed147ffc0c22f110b20a665b27adfc1b.svg#GT Sectra Display")
      format("svg");
}
@font-face {
  font-family: "Azo Sans Lt";
  src: url("//db.onlinewebfonts.com/t/06fcebf2389f170c4e0f9e5286b1c5f6.eot");
  src: url("//db.onlinewebfonts.com/t/06fcebf2389f170c4e0f9e5286b1c5f6.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/06fcebf2389f170c4e0f9e5286b1c5f6.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/06fcebf2389f170c4e0f9e5286b1c5f6.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/06fcebf2389f170c4e0f9e5286b1c5f6.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/06fcebf2389f170c4e0f9e5286b1c5f6.svg#Azo Sans Lt")
      format("svg");
}

body {
  width: 100%;
  margin: 0 auto;
}

h1,
h2 {
  font-family: "GT Sectra Display";
  font-weight: 500;
}

h2 {
  font-size: 42px;
  margin-block-start: 0em;
}

p,
a {
  font-family: "Azo Sans Lt";
}

.parallax {
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#nav-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  position: fixed;
  top: 0;
  text-transform: uppercase;
  padding-left: 5%;
  padding-right: 5%;
  background-color: transparent;
  transition: background-color 1s;
}

#nav-page img {
  width: 205px;
  padding: 26px 0px;
}

#nav-page nav ul {
  display: flex;
  gap: 30px;
  padding-inline-start: 0px;
}

#nav-page nav ul li {
  list-style-type: none;
  font-family: "Azo Sans Lt";
  text-transform: uppercase;
}

#nav-page nav ul li a {
  color: black;
  text-decoration: none;
  font-size: 13px;
}

#nav-page nav ul li a:hover {
  padding: 5px 0px;
  border-bottom: 1px solid black;
}

.here {
  padding: 5px 0px;
  border-bottom: 1px solid black;
}

header {
  height: 380px;
  width: 100%;
  background-image: url("../assets/backgrounds/IMG_2705-1250x833.jpg");
}

.fade-white {
  background: rgba(255, 255, 255, 0.52);
  height: 380px;
}

.fade-white h1 {
  line-height: 380px;
  text-align: center;
  margin-block-start: 0em;
  text-transform: uppercase;
  font-size: 59px;
  font-weight: 500;
}

#description {
  height: 420px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#description p {
  width: 40%;
  font-size: 24px;
  line-height: 30px;
}

#our-menu {
  background-image: url("../assets/backgrounds/0262-Astrid-y-gastón-2716-Foto-Foto-Liz-Tasa-2020_-1920x1280.jpg");
  height: 420px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.our-menu-text {
  grid-column: 2;
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 30px;
}

.our-menu-text h2 {
  text-transform: uppercase;
}

#ice-section {
  background-image: url("../assets/backgrounds/7B2A9286ok-1250x833.jpg");
  height: 420px;
}

#bar {
  background-color: #d4af4e;
  display: flex;
  height: 420px;
  color: #604d45;
}

#bar img {
  width: 70%;
  object-fit: cover;
}

.bar-text {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  line-height: 30px;
  align-items: center;
}

.bar-text h2,
.bar-text p {
  width: 50%;
}

#wines {
  height: 420px;
  display: flex;
  background-color: #f6c5b7;
}

#wines img {
  width: 70%;
  object-fit: cover;
}

.wines-text {
  color: #604d45;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 30px;
}

.wines-text h2,
.wines-text p {
  width: 50%;
}

footer {
  position: relative;
  background-color: #604d45;
  height: 350px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}

footer h2 {
  text-transform: uppercase;
}

footer a {
  color: white;
  font-size: 16px;
}

.copyright {
  position: absolute;
  bottom: 0;
  left: 0px;
  width: 100%;
  text-align: center;
  padding: 10px 0px;
  font-family: "Azo Sans Lt";
}

@media screen and (max-width: 1300px) {
  .bar-text p,
  .wines-text p {
    width: 80%;
  }
}

@media screen and (max-width: 1000px) {
  #description p {
    width: 80%;
  }

  .our-menu-text {
    width: 85%;
  }

  #bar img,
  #wines img {
    width: 60%;
  }

  .bar-text,
  .wines-text {
    width: 40%;
  }

  footer {
    height: 455px;
    display: grid;
    grid-template-columns: repeat(12, 8%);
    grid-template-rows: auto auto;
  }

  .contact {
    width: max-content;
    grid-column-start: 2;
    grid-row-start: 1;
  }

  .on-place {
    grid-row-start: 1;
    grid-column-start: 8;
    width: max-content;
  }

  .take-away {
    grid-row-start: 2;
    grid-column-start: 8;
    width: max-content;
    align-self: start;
  }
}

@media screen and (max-width: 900px) {
  .parallax {
    background-attachment: initial;
  }
}

@media screen and (max-width: 800px) {
  #nav-page {
    flex-direction: column;
    background-color: white;
    z-index: 1;
    width: 100%;
    padding: 0;
  }

  .fade-white h1 {
    position: absolute;
    top: 220px;
    left: 5%;
    right: 5%;
    line-height: normal;
  }

  #bar img,
  #wines img {
    width: 50%;
  }

  .bar-text,
  .wines-text {
    width: 50%;
  }
}

@media screen and (max-width: 750px) {
  footer {
    display: flex;
    flex-direction: column;
    height: 600px;
    align-items: normal;
    justify-content: normal;
    padding: 20px;
  }

  .contact {
    margin-bottom: 1em;
  }

  .take-away {
    align-self: initial;
  }
}

@media screen and (max-width: 650px) {
  h2 {
    font-size: 32px;
  }

  #description p {
    font-size: 20px;
  }

  #our-menu {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #bar {
    height: 600px;
    flex-direction: column-reverse;
  }

  #wines {
    height: 600px;
    flex-direction: column;
  }

  #bar img,
  #wines img {
    height: 300px;
    width: 100%;
  }

  .bar-text,
  .wines-text {
    width: 90%;
    margin: auto;
  }
}

@media screen and (max-width: 600px) {
  footer {
    height: 480px;
  }

  footer,
  footer p,
  footer a {
    font-size: 13px;
  }
}

@media screen and (max-width: 450px) {
  h2 {
    font-size: 28px;
  }

  #nav-page nav ul {
    column-gap: 85px;
    flex-wrap: wrap;
    width: 90%;
    justify-content: center;
    margin: auto;
    margin-bottom: 20px;
  }

  .fade-white h1 {
    font-size: 40px;
  }

  #bar,
  #wines {
    height: 700px;
  }

  #bar img,
  #wines img {
    height: 350px;
  }
}

@media screen and (max-width: 400px) {
  #nav-page nav ul {
    column-gap: 50px;
  }
}
