@import url(//db.onlinewebfonts.com/c/ed147ffc0c22f110b20a665b27adfc1b?family=GT+Sectra+Display);
@import url(//db.onlinewebfonts.com/c/06fcebf2389f170c4e0f9e5286b1c5f6?family=Azo+Sans+Lt);

@font-face {
  font-family: "GT Sectra Display";
  src: url("//db.onlinewebfonts.com/t/ed147ffc0c22f110b20a665b27adfc1b.eot");
  src: url("//db.onlinewebfonts.com/t/ed147ffc0c22f110b20a665b27adfc1b.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/ed147ffc0c22f110b20a665b27adfc1b.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/ed147ffc0c22f110b20a665b27adfc1b.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/ed147ffc0c22f110b20a665b27adfc1b.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/ed147ffc0c22f110b20a665b27adfc1b.svg#GT Sectra Display")
      format("svg");
}
@font-face {
  font-family: "Azo Sans Lt";
  src: url("//db.onlinewebfonts.com/t/06fcebf2389f170c4e0f9e5286b1c5f6.eot");
  src: url("//db.onlinewebfonts.com/t/06fcebf2389f170c4e0f9e5286b1c5f6.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/06fcebf2389f170c4e0f9e5286b1c5f6.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/06fcebf2389f170c4e0f9e5286b1c5f6.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/06fcebf2389f170c4e0f9e5286b1c5f6.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/06fcebf2389f170c4e0f9e5286b1c5f6.svg#Azo Sans Lt")
      format("svg");
}

body {
  width: 100%;
  margin: 0 auto;
}

h1,
h2 {
  font-family: "GT Sectra Display";
  font-weight: 500;
}

h2 {
  font-size: 42px;
  margin-block-start: 0em;
}

p,
a {
  font-family: "Azo Sans Lt";
}

.parallax {
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#nav-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  position: fixed;
  top: 0;
  text-transform: uppercase;
  padding-left: 5%;
  padding-right: 5%;
  transition: background-color 1s;
}

#nav-page img {
  width: 205px;
  padding: 26px 0px;
}

#nav-page nav ul {
  display: flex;
  gap: 30px;
  padding-inline-start: 0px;
}

#nav-page nav ul li {
  list-style-type: none;
  font-family: "Azo Sans Lt";
  text-transform: uppercase;
}

#nav-page nav ul li a {
  color: black;
  text-decoration: none;
  font-size: 13px;
}

#nav-page nav ul li a:hover {
  padding: 5px 0px;
  border-bottom: 1px solid black;
}

.here {
  padding: 5px 0px;
  border-bottom: 1px solid black;
}

header {
  height: 380px;
  width: 100%;
  background-image: url("../assets/backgrounds/7B2A7766ok-1250x833.jpg");
  background-position: center;
}

.fade-white {
  background: rgba(255, 255, 255, 0.52);
  height: 380px;
}

.fade-white h1 {
  line-height: 380px;
  text-align: center;
  margin-block-start: 0em;
  text-transform: uppercase;
  font-size: 59px;
  font-weight: 500;
}

#saloon {
  background-color: #d4af4e;
  height: 420px;
  display: flex;
}

#saloon img {
  width: 70%;
  object-fit: cover;
}

.saloon-text {
  width: 30%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  line-height: 30px;
  color: #604d45;
}

.saloon-text p {
  width: 70%;
}

#kitchen {
  background-image: url("../assets/backgrounds/7B2A1435ok-1-1250x833.jpg");
  height: 420px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.kitchen-text {
  grid-column: 2;
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 30px;
  text-align: center;
}

#harvest {
  background-image: url("../assets/backgrounds/7B2A0164okGiancarlo-Aponte-1250x833.jpg");
  height: 420px;
}

#bar {
  background-color: #a4b575;
  height: 420px;
  display: flex;
}

#bar img {
  width: 70%;
  object-fit: cover;
}

.bar-text {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 30px;
  color: #604d45;
}

.bar-text p {
  width: 70%;
}

#wine-waiter {
  background-image: url("../assets/backgrounds/ayg-vinos-4-1400x789.jpg");
  height: 420px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wine-waiter-text {
  text-align: center;
  line-height: 30px;
  width: 30%;
}

#join-us {
  background-color: #8c6d86;
  height: 420px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.join-us-text {
  width: 30%;
  line-height: 30px;
  text-align: center;
  color: white;
}

#work-with-us {
  padding: 5px 0px;
  border-bottom: 1px solid white;
  font-family: "GT Sectra Display";
  width: 150px;
  margin: auto;
  font-size: 18px;
  cursor: pointer;
}

footer {
  position: relative;
  background-color: #604d45;
  height: 350px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}

footer h2 {
  text-transform: uppercase;
}

footer a {
  color: white;
  font-size: 16px;
}

.copyright {
  position: absolute;
  bottom: 0;
  left: 0px;
  width: 100%;
  text-align: center;
  padding: 10px 0px;
  font-family: "Azo Sans Lt";
}

#team-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.92);
  z-index: 1;
  overflow: auto;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.modal-content {
  position: relative;
  width: 60%;
  background-color: white;
  overflow: auto;
  margin: auto;
}

#close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  cursor: pointer;
}

.modal-content h2 {
  text-align: center;
  text-transform: uppercase;
}

form {
  display: flex;
  gap: 22px;
  justify-content: center;
  flex-direction: column;
  width: 70%;
  margin: auto;
  position: relative;
  margin-bottom: 35px;
}

.middle-form {
  display: flex;
  gap: 3%;
}

#firstname-bloc,
#lastname-bloc,
#city-bloc,
#country-bloc {
  width: 48%;
  position: relative;
}

#email-bloc,
#phone-bloc,
#nationality-bloc,
#contract-bloc,
#work-bloc,
#file-bloc {
  position: relative;
}

form label {
  padding: 0px 0px 10px;
  font-family: "Azo Sans Lt";
}

form input {
  border: 1px solid black;
  height: 30px;
  font-size: 14px;
  width: 100%;
}

#email,
#phone,
#nationality {
  width: 99%;
}

#work,
#contract {
  width: 100.5%;
  height: 34px;
}

.job {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
}

select {
  height: 27px;
  border: 1px solid black;
  font-size: 14px;
}

#file {
  line-height: 30px;
}

#form-submit {
  font-family: "GT Sectra Display";
  background-color: transparent;
  border: none;
  border-bottom: 1px solid black;
  width: 65px;
  margin: auto;
  font-size: 18px;
  padding: 1px 0px;
  cursor: pointer;
}

.error {
  font-size: 12px;
  color: red;
  position: absolute;
  font-family: "GT Sectra Display";
}

#error-lastname,
#error-firstname,
#error-email,
#error-phone,
#error-nationality,
#error-country,
#error-city,
#error-file {
  top: 35px;
}

#error-work,
#error-contract {
  top: 65px;
}

@media screen and (max-width: 1150px) {
  .saloon-text,
  .bar-text {
    width: 40%;
  }

  #saloon img,
  #bar img {
    width: 60%;
  }

  .saloon-text p,
  .bar-text p,
  .kitchen-text {
    width: 90%;
  }

  .join-us-text {
    width: 50%;
  }

  form label {
    font-size: 13px;
    padding: 0px 0px 5px;
  }

  #error-work,
  #error-contract {
    top: 56px;
  }
}

@media screen and (max-width: 1000px) {
  footer {
    height: 455px;
    display: grid;
    grid-template-columns: repeat(12, 8%);
    grid-template-rows: auto auto;
  }

  .contact {
    width: max-content;
    grid-column-start: 2;
    grid-row-start: 1;
  }

  .on-place {
    grid-row-start: 1;
    grid-column-start: 8;
    width: max-content;
  }

  .take-away {
    grid-row-start: 2;
    grid-column-start: 8;
    width: max-content;
    align-self: start;
  }
}

@media screen and (max-width: 910px) {
  .modal-content h2 {
    font-size: 32px;
    margin-top: 30px;
  }

  .middle-form {
    flex-direction: column;
  }

  #lastname-bloc,
  #firstname-bloc,
  #city-bloc,
  #country-bloc {
    width: 99%;
  }

  #lastname-bloc,
  #city-bloc,
  #work-bloc {
    margin-bottom: 22px;
  }
}

@media screen and (max-width: 900px) {
  .parallax {
    background-attachment: initial;
  }
}

@media screen and (max-width: 800px) {
  #nav-page {
    flex-direction: column;
    background-color: white;
    z-index: 1;
    width: 100%;
    padding: 0;
  }

  .fade-white h1 {
    position: absolute;
    top: 220px;
    left: 5%;
    right: 5%;
    line-height: normal;
  }

  #saloon,
  #bar {
    height: 600px;
    flex-direction: column;
  }

  .saloon-text,
  .bar-text {
    height: 300px;
    width: 90%;
    margin: auto;
  }

  #saloon img,
  #bar img {
    height: 300px;
    width: 100%;
  }

  .wine-waiter-text,
  .join-us-text {
    width: 90%;
  }

  #kitchen {
    display: flex;
  }

  .kitchen-text {
    margin: auto;
  }
}

@media screen and (max-width: 750px) {
  footer {
    display: flex;
    flex-direction: column;
    height: 600px;
    align-items: normal;
    justify-content: normal;
    padding: 20px;
  }

  .contact {
    margin-bottom: 1em;
  }

  .take-away {
    align-self: initial;
  }
}

@media screen and (max-width: 650px) {
  h2 {
    font-size: 32px;
  }

  .modal-content {
    width: 80%;
  }
}

@media screen and (max-width: 600px) {
  .modal-content {
    width: 100%;
    height: 100%;
  }

  .modal-content h2 {
    margin-top: 50px;
  }

  footer {
    height: 480px;
  }

  footer,
  footer p,
  footer a {
    font-size: 13px;
  }
}

@media screen and (max-width: 450px) {
  h2 {
    font-size: 28px;
  }

  #nav-page {
    justify-content: initial;
  }

  #nav-page nav ul {
    column-gap: 85px;
    flex-wrap: wrap;
    width: 90%;
    justify-content: center;
    margin: auto;
    margin-bottom: 20px;
  }

  .fade-white h1 {
    font-size: 40px;
  }

  #saloon,
  #bar {
    height: 800px;
  }

  .saloon-text,
  .bar-text,
  #saloon img,
  #bar img {
    height: 400px;
  }

  #kitchen,
  #join-us {
    height: 500px;
  }
}

@media screen and (max-width: 400px) {
  #nav-page nav ul {
    column-gap: 50px;
  }
}

@media screen and (max-width: 350px) {
  #saloon {
    height: 900px;
  }

  .saloon-text {
    height: 500px;
  }

  #kitchen {
    height: 600px;
  }
}
